{% extends 'base.html' %}
{% load static crispy_forms_tags %}
    {% block extra_head %}
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
    <script src="{% static 'js/upload-widget.js' %}" type="text/javascript"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const cloudName = "{{ cloud_name }}";
            const uploadPreset = "{{ upload_preset }}";
            initCloudinaryUploadWidget(cloudName, uploadPreset);
        });
    </script>
    {% endblock %}
{% block navbar %}
    {% include 'includes/navbar_default.html' %}
{% endblock %}
{% block content %}
      <div class="col-md-6 mx-auto mt-5">
        <h2 class="container mt-5 text-center">Create a new post</h2>
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <div class="mb-3 p-4 text-center" >
                <button class="btn btn-outline-primary p-2 text-center" id="upload_widget" type="button">Upload Images</button>
                <input type="hidden" id="image_urls" name="image_urls" >
            </div>
            <div id="thumbnails" class="d-flex flex-wrap mt-3"></div>
            {% crispy post_form %}
        </form>
    </div>
{% endblock %}
