<!DOCTYPE html>
<html>
<head>
    <title>Email Confirmation</title>
</head>
<body>
    <h2>Hello {{ user.username }},</h2>
    <p>Thank you for registering with Djangogramm! Please confirm your email address by clicking the link below:</p>

    <p><a href="{{ activation_link }}">Click here to confirm your email</a></p>

    <p>If the link doesn't work, please copy and paste this URL into your browser:</p>
    <p>{{ activation_link }}</p>

    <p>This link will expire in 24 hours.</p>

    <p>If you didn't register for Djangogramm, please ignore this email.</p>

    <p>Best regards,<br>
    The Djangogramm Team</p>
</body>
</html>
