SECRET_KEY=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST="127.0.0.1"
DB_PORT="5432"

ADMIN_HOST_IP=
DOMAIN_NAME=
HOST_NAME=

SUPER_USER_NAME=
SUPER_USER_PASSWORD=
SUPER_USER_EMAIL=

DJANGO_SETTINGS_MODULE="djangogramm.settings.web.prod"
MAX_IMAGE_SIZE="1600"
THUMBNAIL_SIZE="200"
IMAGE_QUALITY="85"

STATIC_ROOT="staticfiles"

TEMPLATE_DIR="templates"
MEDIA_DIR="media"
STATIC_DIR="static"
STATIC_URL="/static/"
MEDIA_URL="/media/"
IMAGE_DIR="images"
DEFAULT_AVATAR_IMG_PATH=
