# /etc/systemd/system/gunicorn.service
[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/djangogramm/djangogramm/djangogramm
ExecStart=/home/ubuntu/djangogramm/env/bin/gunicorn \
          --access-logfile /var/log/gunicorn/access.log\
          --error-logfile /var/log/gunicorn/error.log \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          djangogramm.wsgi:application

[Install]
WantedBy=multi-user.target
