<footer class="bg-light text-center text-lg-start mt-4">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4">
        <h5 class="text-uppercase">DjangoGramm</h5>
        <p>© 2025 DjangoGramm. Все права защищены.</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="text-uppercase">Навигация</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="{% url 'home' %}" class="text-dark">Home</a>
          </li>
          <li>
            <a href="{% url 'about' %}" class="text-dark">About</a>
          </li>
          <li>
            <a href="{% url 'posts_list' %}" class="text-dark">Posts List</a>
          </li>
          <li>
            <a href="{% url 'create_post' %}" class="text-dark">Create Post</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="text-uppercase">Контакты</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="mailto:info@djangogramm.com" class="text-dark">info@djangogramm.com</a>
          </li>
          <li>
            <a href="#" class="text-dark">Поддержка</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3 bg-secondary text-white">
    © 2025 DjangoGramm
  </div>
</footer>
