{% load static %}

{#<nav class="navbar bg-light shadow">#}
{#  <div class="container">#}
{#    <a class="navbar-brand fs-4 fw-bold" href="{% url 'web:home' %}">#}
{#      <img src="{% static 'images/Djangogramm.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="">#}
{#      <span class="djangotext">Django</span><span class="gramtext">gramm</span>#}
{#    </a>#}
{##}
{##}
{#    <ul class="nav ms-auto">#}
{#      <li class="nav-item">#}
{#        <a class="nav-link text-dark" href="{% url 'web:home' %}">Home</a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link text-dark" href="{% url 'web:auth:login' %}">Login</a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link text-dark" href="{% url 'web:auth:register' %}">Register</a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link text-secondary" href="{% url 'web:about' %}">About</a>#}
{#      </li>#}
{#    </ul>#}
{#  </div>#}
{#</nav>#}


{% load static %}

<nav class="navbar bg-light shadow">
  <div class="container">
    <a class="navbar-brand fs-4 fw-bold" href="{% url 'web:home' %}">
      <img src="{% static 'images/Djangogramm.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      <span class="djangotext">Django</span><span class="gramtext">gramm</span>
    </a>

    <ul class="nav ms-auto">
      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'web:home' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="{% url 'web:about' %}">About</a>
      </li>

      {% if user.is_authenticated %}
        <li class="nav-item d-flex align-items-end">
          <form action="{% url 'web:auth:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-info btn-sm me-4 mt-3 ">Log Out</button>
          </form>
          <form action="{% url 'web:posts:create' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-success btn-sm me-4 mt-3 ">Create Post</button>
          </form>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'web:auth:login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'web:auth:register' %}">Register</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
